@using IPAddressManagement.Models;
@model IPAddressManagement.Models.GroupUser

@{
    ViewData["Title"] = "Edit Group";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit Group</h1>
<h4>Group User</h4>
<hr />
@if (Model != null && Model.Name != null)
{
    @using (Html.BeginForm("Edit", "Groups", new { id = Model.ID_Group }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Name)
                    @Html.TextBoxFor(m=>m.Name,new{@class="form-control"})
                    @Html.ValidationMessageFor(m=>m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Decription)
                    @Html.TextBoxFor(m=>m.Decription,new{@class="form-control"})
                    @Html.ValidationMessageFor(m=>m.Decription)
                </div>
       </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
    }
}


