@using IPAddressManagement.Areas.Admin.Models;
@model IPAddressManagement.Areas.Admin.Models.CustomerViewModel;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<hr />
@using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m=>m.FirstName)
                @Html.TextBoxFor(m=>m.FirstName,new{@class="form-control"})
                @Html.ValidationMessageFor(m=>m.FirstName)
                @Html.ValidationSummary(true)
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.LastName)
                @Html.TextBoxFor(m=>m.LastName,new{@class="form-control"})
                @Html.ValidationMessageFor(m=>m.LastName)
                @Html.ValidationSummary(true)
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.Email)
                @Html.TextBoxFor(m=>m.Email,new{@class="form-control"})
                @Html.ValidationMessageFor(m=>m.Email)
                @Html.ValidationSummary(true)
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.PhoneNumber)
                @Html.TextBoxFor(m=>m.PhoneNumber,new{@class="form-control"})
                @Html.ValidationMessageFor(m=>m.PhoneNumber)
                @Html.ValidationSummary(true)
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.Company)
                @Html.TextBoxFor(m=>m.Company,new{@class="form-control"})
                @Html.ValidationMessageFor(m=>m.Company)
                @Html.ValidationSummary(true)
            </div>
            <hr />
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-sencondary" })
            </div>
        </div>
    </div>
}


