@using IPAddressManagement.Models;
@model IEnumerable<IPAddressManagement.Models.User>;
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/lib/bootbox.min.js"></script>
    <script>
        // handle click delete button event
        $('#userTable').on('click', 'a.btnDelete', function (e) {
            e.preventDefault();          
            var id = $(this).data("id");
            bootbox.confirm("Bạn có chắc muốn xoá bản ghi này?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/Admin/Users/Delete",
                        data: { id: id },
                        dataType: "json",
                        type: "DELETE",
                        success: function (response) {
                            if (response.status === true) {
                                window.location.reload();
                            }
                            else {
                                console(response.message);
                            }
                        },
                        error: function (err) {
                            // set notification
                            $("#showToast").html(
                                '  <div id="toast-container" class="toast-top-right hide"> '
                                + '     <div class= "toast toast-error" aria-live="polite" style="display: block;"> '
                                + '         <div class="toast-message">Bạn không có quyền thực hiện thao tác này</div> '
                                + '     </div> '
                                + ' </div > ');
                            setTimeout(function () {
                                $("#showToast").empty();
                            }, 3000);
                        }
                    });
                }
            })
        });
    </script>
}

<div class="car"></div>
<div class="card mb-4">
    <div class="col-auto">
    </div>
    <div class="card-header"><strong>Users</strong><span class="small ms-1">List of users</span></div>
    <div class="card-body">
        <p class="text-medium-emphasis small">Users management.</p>
        <div>@Html.ActionLink("Add User","Create","Users", null, new {@class="btn btn-sm btn-success"})</div>
        <div class="example">
            <div class="tab-content rounded-bottom">
                <table class="table" id="userTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">FirstName</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Email</th>
                            <th scope="col">PhoneNumber</th>
                            <th scope="col">Group</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model !=null && Model.Any())
                        {
                            foreach(var user in Model)
                            {
                                <tr>
                                    <td scope="row">@user.ID_User</td>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@user.Email</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>@user.Group.Name</td>
                                    <td><a class="btn btn-sm btn-danger btnDelete" data-id="@user.ID_User">Delete</a> @Html.ActionLink("Edit","Edit", new {id=@user.ID_User}, new {@class = "btn btn-sm btn-primary btnEdit"})</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


